#ci_header_container {
    padding: 10px;
    width: 100%;
    background: #e7f3ff;
}

.ci-btn {
    border: none;
    padding: 5px;
    width: 8em;
    cursor: pointer;
}

.ci-btn-blue {
    background: #3f77b3;
    color: white;
    transition: 0.4s;
}

.ci-btn-blue:hover {
    background: #1f5894;
    transition: 0.4s;
}

.ci-btn-green {
    background: #28ad54;
    color: white;
    transition: 0.4s;
}

.ci-btn-green:hover {
    background: #1f9432;
    transition: 0.4s;
}

.ci-btn-red {
    background: #b55757;
    color: white;
    transition: 0.4s;
}

.ci-btn-red:hover {
    background: #753737;
    transition: 0.4s;
}

.float-right {
    float: right;
}

.inline {
    display: inline;
}

.ci-top-bar-heading {
    font-size: 18px;
    font-weight: bold;
}

form {
    margin-bottom: 0em;
}

.ci-topic {
    font-size: 20px;
}

.ci-content {
    font-size: 18px;
}

.ci-card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: default;
    margin-top: 1em;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.ci-card-theme-blue {
    background: #e7f3ff;
    color: #00487d;
}

.margin-auto {
    margin: auto;
}

.ci-btn-wide {
    width: 15em;
}